# Summary of today:
1. Intro to CME 193
2. Python Foundations
* Variable
* Operator
* Strings
* Control Flow
* Exception
* Functions
* Collections

# Python

![xkcd_python](https://imgs.xkcd.com/comics/python.png)
(From [xkcd](https://xkcd.com/))

In [ ]:
print("Hello, world!")

Hello, world!

In [ ]:
# print value of pi  (I am a comment using hash mark)
# The pi (Ï€) is a constant of the math library in Python that returns the value 3.14...
import math

print(math.pi)

3.141592653589793

# Basic Section (Start)

## Variables

One of the main differences in Python compared to other languages you might be familiar with is that type of a variable is not declared and is determined only during runtime. The varibale is strongly typed, meaning that it do have a type and that the type matters when performing operations on the variable. Python also achieves implicit type conversion of integer (`int`) to floating-point numbers (`float`).

In [ ]:
x = 1
print(x)

1

In [ ]:
x

1

In [ ]:
x = 1 # integer
print(type(x))

<class 'int'>

In [ ]:
x = 1.0 # floating-point numbers
print(x)
print(type(x))

x = "string"  # same as "string"
print(x)
print(type(x))

1.0
<class 'float'>
string
<class 'str'>

In [ ]:
1.0 == "1.0" # float and str are not equal

False

In [ ]:
1.0 == 1 # implicit type conversion

True

In [ ]:
int(1.0)

1

In [ ]:
1.0 == int(1.0) # explicit type conversion

True

In [ ]:
print(x)
x + 1

string

TypeError: can only concatenate str (not "int") to str

In [ ]:
from IPython.display import display
display(x)

'string'

## Basic Arithmetic

Math Operators:
`+ - * / // % **`

Boolean expressions:
* keywords: `True` and `False` (note capitalization)
- False = 0, True = 1
    - C1 and C2 = min (C1, C2)
    - C1 or C2 = max(C1, C2)
* `==` equals: `5 == 5` yields `True`
* `!=` does not equal: `5 != 5` yields `False`
* `>` greater than: `5 > 4` yields `True`
* `>=` greater than or equal: `5 >= 5` yields `True`
* Similarly, we have `<` and `<=`.

Logical operators:
* `and`, `or`, and `not`
* `True and False`
* `True or False`
* `not True`

In [ ]:
# Dividing 0 is an error
4 / 0

ZeroDivisionError: division by zero

In [ ]:
# The result of regular division is always a float
type(4 / 2)

float

In [ ]:
5 / 3

1.6666666666666667

In [ ]:
type(5 // 3)  # Floor division

int

In [ ]:
5 // 3 # Floor division of positive numbers

1

In [ ]:
-5 / 3# Floor division of negative numbers

-1.6666666666666667

In [ ]:
-5 // 3 # rounds down towards negative infinity

-2

In [ ]:
5 % 3  # Modulus of positive numbers

2

In [ ]:
-5 % 3  # Modulus of negative numbers

1

In [ ]:
4**3  # Exponentiation

64

In [ ]:
# = to assign value to a varibale
# == to check if the values match
x = 5.0
y = 5

x == y

True

In [ ]:
print(type(x), type(y))

<class 'float'> <class 'int'>

In [ ]:
x = 5.0
y = 5
z = x
print("x == y: " + str(x == y))
print("x is y: " + str(x is y))
print("x is z: " + str(x is z))


# == checks for equality - if the two variables point at values are equal.
# is checks for identity - if the two variables point to the exact same object.

x == y: True
x is y: False
x is z: True

In [ ]:
x = 5
y = 5
x is y

True

In [ ]:
s = ["example"]
answer = ["example"]
a = s
print("s == 'example': " + str(s == answer))
print("s is 'example': " + str(s is a))  # TODO: Check @pointer

# Python string interning -> Since string are immutable
# it makes sense for the interpreter to store the string literal only once and point all the variables to the same object

s == 'example': True
s is 'example': True

In [ ]:
True or False  # some other language use '&' for 'and', '|' for 'or', '!' for 'not': NOT IN PYTHON

True

In [ ]:
not True

False

In [ ]:
not (9 == 9)

False

In [ ]:
not 5 == 5.0  # equivalent to 5 != 5.0

False

In [ ]:
5 != 5.0

False

## Strings

Concatenation: `str1 + str2`

Printing: `print(str1)`

In [ ]:
1 + 1

2

In [ ]:
str1 = "Alice's numbers are 20 and 52, "
str2 = "and their sum is 72"
str3 = str1 + str2
# str3
str1, str2

("Alice's numbers are 20 and 52, ", 'and their sum is 72')

In [ ]:
str3

"Alice's numbers are 20 and 52, and their sum is 72"

String Formatting:

In [ ]:
# f-string (pyhton == ^3.6)

x = 4000
y = 52
name = "Abi's friend"

# f-string
str1 = f"{name}'s numbers are {x} and {y}, "
str2 = f"and their sum is {x + y}"
str3 = str1 + str2
str1, str2, str3

("Abi's friend's numbers are 4000 and 52, ",
 'and their sum is 4052',
 "Abi's friend's numbers are 4000 and 52, and their sum is 4052")

(Optional) Old School String Format

In [ ]:
str1 = "a: %s" % "string"
print(str1)
str2 = "b: %.1f, %s, %d" % (1.0, "hello", 5)
print(str2)
str3 = "c: {}".format(3.14)
print(str3)

a: string
b: 1.0, hello, 5
c: 3.14

In [ ]:
# some methods
str1 = "Hello, World!"
print(str1)
print(str1.upper())
print(str1.lower())

Hello, World!
HELLO, WORLD!
hello, world!

In [ ]:
str1.replace("l", "p")

'Heppo, Worpd!'

In [ ]:
?str.replace # only in colab

Object `str.replace # only in colab` not found.

In [ ]:
help(str.partition)

Help on method_descriptor:

partition(self, sep, /) unbound builtins.str method
    Partition the string into three parts using the given separator.

    This will search for the separator in the string.  If the separator is found,
    returns a 3-tuple containing the part before the separator, the separator
    itself, and the part after it.

    If the separator is not found, returns a 3-tuple containing the original string
    and two empty strings.

## Control Flow

If statements:  
if decides whether certain statements need to be executed or not. It checks for a given condition
```python
if condition1:
  statements1
elif condition2:
  statements2
elif condition3:
  statements3
else:
  statements4
```

In [ ]:
x = 3
y = 10

if x == y:
    print("The value of x is the same as value of y")
elif x == 3:
    print("I am here")
    print("x is 3")
else:
    print("x is something else")

I am here
x is 3

**For loops**  

control flow statement for specifying iteration, which allows code to be executed repeatedly

In [ ]:
for i in range(4):  # default - start at 0, increment by 1
    print(f"{i}, next loop")

0, next loop
1, next loop
2, next loop
3, next loop

In [ ]:
x = range(5)
y = range(0, 10, 2)

for xi, yi in zip(x, y):
    print(f"x: {xi}, y: {yi}")

x: 0, y: 0
x: 1, y: 2
x: 2, y: 4
x: 3, y: 6
x: 4, y: 8

In [ ]:
?range

In [ ]:
for i in range(10, 0, -2):  # inputs are start, stop, step
    print(i)

10
8
6
4
2

**while loops**

In [ ]:
# Find all positive integer whose square < 100
i = 1
while i**2 < 100:
    print(i)
    i += 1  # i += 1 is the same as i = i + 1
print("Finished")

1
2
3
4
5
6
7
8
9
Finished

**continue** - skip the rest of the loop

**break** - exit from the loop

In [ ]:
# distinguish even or odd number
for num in range(1, 10):
    if num % 2 == 0:
        print(f"Found {num}, an even number, Continue!")
          # this jumps us back to the top

    print(f"Found {num}, an odd number")

print("Finished")

Found 1, an odd number
Found 2, an even number, Continue!
Found 2, an odd number
Found 3, an odd number
Found 4, an even number, Continue!
Found 4, an odd number
Found 5, an odd number
Found 6, an even number, Continue!
Found 6, an odd number
Found 7, an odd number
Found 8, an even number, Continue!
Found 8, an odd number
Found 9, an odd number
Finished

In [ ]:
for num in range(1, 10):
  if num % 2 == 0:  # if n divisible by x
    print(f"Found {num}, an even number, Continue!")
    continue

  print(f"Found {num}, an odd number")
print("Finished")

Found 1, an odd number
Found 2, an even number, Continue!
Found 3, an odd number
Found 4, an even number, Continue!
Found 5, an odd number
Found 6, an even number, Continue!
Found 7, an odd number
Found 8, an even number, Continue!
Found 9, an odd number
Finished

In [ ]:
# continue/break statement only continue/breaks its cloest parent level loop statement
for i in range(3):
    print(f"Outer {i}")
    for j in range(3):
        print(f"   Inner : {j}")
        if j == 1:
          break
    # jump to here after break

Outer 0
   Inner : 0
   Inner : 1
Outer 1
   Inner : 0
   Inner : 1
Outer 2
   Inner : 0
   Inner : 1

**pass** does nothing

In [ ]:
# The pass statement is used as a placeholder for future code!!
for num in range(7):
    if num == 5:
        # TODO: Add more code for the case num = 5
        print("number is 5")
        pass
    print(f"Iteration: {num}")

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
number is 5
Iteration: 5
Iteration: 6

# Basic Section (End)

## [Exceptions](https://docs.python.org/3/library/exceptions.html)

In [ ]:
print(100 / 0)

ZeroDivisionError: division by zero

In [ ]:
try:
    # print(100 / 0)
    # julie
    1.0 + "1.0"
except ZeroDivisionError:
    print("Error: don't divided by zero")
except NameError:
    print("Error: the variable is not defined")
except Exception as e_msg:
    print("We have an exception.")
    print(f"Error is: {e_msg}")

We have an exception.
Error is: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
1.0 + "1.0"

TypeError: unsupported operand type(s) for +: 'float' and 'str'

## Functions

Functions are declared with the keyword `def`

In [ ]:
# def tells python you're trying to declare a function
def triangle_area(base, height):
    # here are operations
    # part of function
    # etc

    return 0.5 * base * height


triangle_area(1, 2)

1.0

In [ ]:
def triangle_area(base, height):
    if base < 0 or height < 0:
        raise ValueError("Base and height must be non-negative")
    return 0.5 * base * height


triangle_area(-1, 2)

ValueError: Base and height must be non-negative

In [ ]:
def triangle_area(base, height):
    try:
        if base < 0 or height < 0:
            raise ValueError("Base and height must be non-negative")
        return 0.5 * base * height
    except ValueError as e_message:
        print(f"Error, triangle_area {e_message}, Try a different non-negative value")
    except Exception as e:
        print(f"Error, triangle_area new error {e}")


triangle_area(1, 2)

1.0

In [ ]:
triangle_area(-1, 2)

Error, triangle_area Base and height must be non-negative, Try a different non-negative value

In [ ]:
triangle_area("string", 2)

Error, triangle_area new error '<' not supported between instances of 'str' and 'int'

In [ ]:
# add type hint @mypy
# int, str, dict
def triangle_area(base: int, height: int):
    try:
        if base < 0 or height < 0:
            raise ValueError("Base and height must be non-negative")
        return 0.5 * base * height
    except ValueError as error:
        print(f"Error, {error}, Try a different value")
    except Exception as e:
        print(f"Error, {e}")


triangle_area(1, 2)

1.0

In [ ]:
triangle_area(1.0, 2) # implicit conversion

1.0

In [ ]:
triangle_area("1.0", 2)

Error, '<' not supported between instances of 'str' and 'int'

In [ ]:
?triangle_area

In [ ]:
# Python 3.7
# Old school code
# from typing import Union
# Union[int, float]

def triangle_area(base: int | float, height: int | float) -> float:
    try:
        if base < 0 or height < 0:
            raise ValueError("Base and height must be non-negative")
        return 0.5 * base * height
    except ValueError as error:
        print(f"Error, {error}, Try a different value")
    except Exception as e:
        print(f"Error, {e}")


triangle_area(1, 2)

1.0

In [ ]:
?triangle_area

In [ ]:
# Docstring
def triangle_area(base: int | float, height: int | float) -> float:
    """Triangle_area is a function that calculate the area of an triangle shape

    Input:
      base: Union[int, float]
        non-negative numeric input
      height: Union[int, float]
        non-negative numeric input
    Output:
      area: float
         1/2 * base * height
    """
    try:
        if base < 0 or height < 0:
            raise ValueError("Base and height must be non-negative")
        return 0.5 * base * height
    except ValueError as e:
        print(f"Error, {e}, Try a different value")
    except Exception as e:
        print(f"Error, {e}")


triangle_area("string", 2)

Error, '<' not supported between instances of 'str' and 'int'

In [ ]:
?triangle_area

In [ ]:
help(triangle_area)

Help on function triangle_area in module __main__:

triangle_area(base: int | float, height: int | float) -> float
    Triangle_area is a function that calculate the area of an triangle shape

    Input:
      base: Union[int, float]
        non-negative numeric input
      height: Union[int, float]
        non-negative numeric input
    Output:
      area: float
         1/2 * base * height

(Add-on: )
1. Function can have multiple outputs
2. Function input can also be a function
3. Function input can have default values

In [ ]:
# return multiple outputs
def simple(a, b):
    return a, b


simple(1, 2)

(1, 2)

In [ ]:
x, y = simple(1, 2)
print(x)
print(y)

1
2

In [ ]:
# everything in python is an object, and can be passed into a function
def f(x):
    return x + 2


def twice(g, x):
    return g(g(x))


twice(f, 3)  # f(f(2)) = (3 + 2) + 2

7

In [ ]:
def n_apply(f, x, n):
    """applies f to x n times"""
    for _ in range(n):  # _ is dummy variable in iteration
        x = f(x)
    return x


n_apply(f, 1, 5)  # 1 + 2*5

11

In [ ]:
# Function input can have default values
def h(a, b, x=3, y=2):
    return a * x + b * y

In [ ]:
h(1, 1) # equivalent to h(1,1,3,2)

5

In [ ]:
h(1,1,3) # equivalent to h(1,1,3,2)

5

In [ ]:
h(1, 1, 3, 3)  # choose not to use the default value

6

In [ ]:
h(1, 1, y =3) # use default value x but customize y

6

In [ ]:
h(1, 1, x=3, 3) # Always use a positional argument (3) before a keyword argument (x=3)

SyntaxError: positional argument follows keyword argument (<ipython-input-99-b56b4dcdee10>, line 1)

# Exercise 1

(10 minutes)

1. Print every power of 2 less than 10,000
2. Write a function that takes two inputs, $a$ and $b$ and returns the value of $a+2b$
3. Write a function takes a number $n$ as input, and prints all [Fibonacci numbers](https://en.wikipedia.org/wiki/Fibonacci_number) less than $n$

In [ ]:
# YOUR CODE HERE

# Lists

A list in Python is an ordered (or indexed) collection of objects

In [ ]:
# heterogeneous types
a = ["x", 1, 3.5]
print(a)
a[0]

['x', 1, 3.5]

'x'

You can iterate over lists in a very natural way

In [ ]:
for word in a:
    print(word)

x
1
3.5

Python indexing starts at 0.

In [ ]:
# mutable
a[1] = "overwritten"
a

['x', 'overwritten', 3.5]

In [ ]:
# can even put functions and other lists inside of lists!
def f(x):
    return x + 1


b = [f(4), [1, 2, 2.1]]
print(b)

[5, [1, 2, 2.1]]

You can `append` method to `lists` class using `.append()` after a object, and do other operations, such as `pop()`, `insert()`, etc.

Python terminology:
* a list is a "class"
* the variable `a` is an object, or instance of the class
* `append()` is a method

In [ ]:
dir(a) # lists all the attributes and methods associated with the object a

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
?a.append

In [ ]:
a = [] # a = list()
for i in range(10):
    a.append(i)
    print(a)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
while len(a) > 0:
    elt = a.pop()
    print(f"Removed {elt}, a is now {a}")

Removed 9, a is now [0, 1, 2, 3, 4, 5, 6, 7, 8]
Removed 8, a is now [0, 1, 2, 3, 4, 5, 6, 7]
Removed 7, a is now [0, 1, 2, 3, 4, 5, 6]
Removed 6, a is now [0, 1, 2, 3, 4, 5]
Removed 5, a is now [0, 1, 2, 3, 4]
Removed 4, a is now [0, 1, 2, 3]
Removed 3, a is now [0, 1, 2]
Removed 2, a is now [0, 1]
Removed 1, a is now [0]
Removed 0, a is now []

 (Add-on):
1. How to insert an element at a specific index of list
2. How to append all element in a list into another list

In [ ]:
# Insert a value at a specific index
a = [1, 2, 3]
a.insert(1, "new value")
print(a)

[1, 'new value', 2, 3]

In [ ]:
a = [1, 2, 3]
b = ["x", "y"]
a.append(b)
a

[1, 2, 3, ['x', 'y']]

In [ ]:
# Append all element inside a list into another list
a = [1, 2, 3]
b = ["x", "y"]
a.extend(b)  # same as a+b
print(a)

[1, 2, 3, 'x', 'y']

In [ ]:
a = [1, 2, 3]
b = ["x", "y"]
a + b
# looks like string concatenation? We are going to talk more in 2nd lecture

[1, 2, 3, 'x', 'y']

Lists in python are only implicitly collections of the objects that constitute them. Assigning statements do not copy objects and can lead to unexpected results:

In [ ]:
a = [1, 2, 3]
b = a.copy()  # shallow copy
# b = a # this is assignment
print("before edit:")
print(f"original a:, {a}")
print(f"original b:, {b}\n")
b[0] = "edited"
print("after edit:")
print(f"a:, {a}")
print(f"b:, {b}")

before edit:
original a:, [1, 2, 3]
original b:, [1, 2, 3]

after edit:
a:, [1, 2, 3]
b:, ['edited', 2, 3]

In [ ]:
a = [1, 2, 3]
b = a.copy()
id(a) == id(b)

False

A list only stores some pointers to locations in your computer's memory: when we wrote `b = a` Python created a new list `b` which shares its entries with `a`.

The function `.copy()` will create a completely distinct copy with new objects.

Question: Find out difference of shallow copy and deep copy on your own!

## List Comprehensions

Python's list comprehensions let you create lists in a way that is reminiscent of set notation

$$ S = \{ x^2 ~\mid~ 0 \le x \le 20, x\mod 3 = 0\}$$

In [ ]:
S = []
for x in range(21):
    if x % 3 == 0:
        S.append(x**2)
S

[0, 9, 36, 81, 144, 225, 324]

Syntax is generally
```python3
S = [<element> <for statement> <conditional>]
```

In [ ]:
S = [x**2 for x in range(21) if x % 3 == 0]
S

[0, 9, 36, 81, 144, 225, 324]

(Self-study)Try yourself with nested for loop~

In [ ]:
S = []
for i in range(2):
    for j in range(2):
        for k in range(2):
            if (i + j + k) % 2 == 0:
                S += [[i, j, k]]

S

[[0, 0, 0], [0, 1, 1], [1, 0, 1], [1, 1, 0]]

In [ ]:
# you aren't restricted to a single for loop
S = [
    [i, j, k]
    for i in range(2)
    for j in range(2)
    for k in range(2)
    if (i + j + k) % 2 == 0
]
S

[[0, 0, 0], [0, 1, 1], [1, 0, 1], [1, 1, 0]]

In [ ]:
# you aren't restricted to a single if statement : Ternary operation
# s1 if c1 else c2
["yes" if v == 1 else "no" if v == 2 else "idle" for v in [1, 2, 3]]

['yes', 'no', 'idle']

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Other Collections

We've seen the `list` class, which is ordered/indexed, and mutable.  There are other Python collections that you may find useful:
* `tuple` which is ordered/indexed, and immutable
* `set` which is unordered/unindexed, mutable, and doesn't allow for duplicate elements
* `dict` (dictionary), paired, which is unordered/unindexed, and mutable, with no duplicate keys.

In [ ]:
a_tuple = (1, 2, 4)
print(a_tuple)
a_tuple[0] = 1

(1, 2, 4)

TypeError: 'tuple' object does not support item assignment

In [ ]:
a_set = {5, 3, 2, 5.0}
print(a_set)
print(a_set[0])

{2, 3, 5}

TypeError: 'set' object is not subscriptable

In [ ]:
a_set.add(6)  # you can also add all element in a list by using .update()
print(f"After adding 6,   a_set:{a_set}")
a_set.remove(6)  # you can also add all element in a list by using minues operator
print(f"After removing 6, a_set:{a_set}")

After adding 6,   a_set:{2, 3, 5, 6}
After removing 6, a_set:{2, 3, 5}

In [ ]:
a_dict = {}  # {key0: value0, key1: value1}
a_dict[2] = 12  # dict[key] = value
a_dict["key_2"] = "str"
a_dict["key_3"] = [13, "value"]
a_dict

{2: 12, 'key_2': 'str', 'key_3': [13, 'value']}

In [ ]:
print(a_dict[2])
print(a_dict.get(2))

12
12

In [ ]:
a_dict_copy = {2: "new value", "key_2": 28, "key_3": [13, "value"]}
a_dict_copy

{2: 'new value', 'key_2': 28, 'key_3': [13, 'value']}

(Optional) More Advanced Collections in Python
* [`OrderedDict`](https://docs.python.org/3/library/collections.html#ordereddict-objects) Dict ordered by keys
* [`deque`](https://docs.python.org/3/library/collections.html#deque-objects): double-ended queue (generalization of stack and queue)
* [`heapq`](https://docs.python.org/3/library/heapq.html) Priority Queue

# Exercise 2

**Lists**
1. Create a list `['a', 'b', 'c']`
2. use the `insert()` method to put the element `'d'` at index 1
3. use the `remove()` method to delete the element `'b'` in the list

**List comprehensions**
1. What does the following list contain?
```python
X = [i for i in range(100)]
```
2. Interpret the following set as a list comprehension:
$S_1 = \{x\in X \mid x\mod 5 = 2\}$
3. Intepret the following set as a list comprehension: $S_2 = \{x \in S_1 \mid x \text{ is even}\}$
4. generate the set of all tuples $(x,y)$ where $x\in S_1$, $y\in S_2$.

**Other Collections**
1. Try creating another type of collection
2. try iterating over it.